.cifras_components{

    width: calc(100vw - 21px);
    padding: 0px 10px;
    transition: .5s ease;
    margin-top: 0px;
    margin-bottom: 0px;

    @include bp(tablet){
        width: calc(100vw - 20px);        
        margin-top: 10px;
        margin-bottom: 0px;
    }

    @include bp(laptop){
        width: calc(100% - 200px);
        // height: calc(100vh - 200px);
        padding: 0px 100px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .options{

        background-color: $principal_03;
        border-radius: 15px;
        width: calc(100% - 40px);
        display: grid;
        grid-template-columns: repeat(1, 100%);
        padding: 30px 20px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        row-gap: 30px;
        column-gap: 10px;
        margin-top: 0px;

        @include bp(tablet){
            width: calc(100% - 40px);
        }

        @include bp(laptop){
            padding: 50px;
            grid-template-columns: repeat(4, 25%);
            align-items: center;
            width: calc(100% - 100px);
        }

        .item{

            display: flex;
            flex-flow: column;
            align-items: center;
            row-gap: 15px;
            @include bp(laptop){
                max-width: 250px;
                width: 100%;
            }

            img{
                width: 45px;
                height: auto;
                margin-bottom: 5px;
                user-select: none;
                pointer-events: none;

                @include bp(laptop){
                    margin-bottom: 15px;
                }

            }

            p{
                text-align: center;
                color: $principal_02;
                font-family: $font_secundario;
                margin-bottom: 10px;
                font-size: rem(15px);

                @include bp(laptop){
                    font-size: rem(18px);
                }

            }

        }


    }

    .title{
        display: flex;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 20px; 
        color: $principal_02;
        font-family: $font_terciario;
        font-size: rem(36px);
        font-weight: bold;
        text-align: center;

        @include bp(tablet){
            margin-top: 30px;
        }

        @include bp(laptop){
            margin-top: 50px;
            margin-bottom: 50px;
            font-size: rem(45px);
        }

    }

    .cifras-actuales{

        @include bp(tablet){
            display: grid;
            grid-template-columns: repeat(3, calc(33.33% - 10px));
            grid-gap: 15px;
        }

        @include bp(laptop){
            grid-template-columns: calc(30% - 15px) 40% calc(30% - 15px);
        }

        .item{

            border: 1px solid $principal_03;
            margin-bottom: 30px;
            padding: 25px 15px;
            border-radius: 15px;
            text-align: center;
            display: flex;
            flex-flow: column;
            justify-content: center;

            &:last-of-type{
                margin-bottom: 0px;
            }

            @include bp(laptop){
                padding: 35px 25px;
                margin-bottom: 0px;
            }

            span{

                font-size: rem(40px);
                font-family: $font_secundario;
                color: $principal_02;
                display: block;
                margin-bottom: 10px;

            }

            p{
                
                font-size: rem(20px);
                font-family: $font_secundario;
                color: $principal_02;
                display: block;
                margin-bottom: 10px;

                @include bp(escritorio){
                    width: 350px;
                    margin: 0px auto 10px auto;
                    font-size: rem(25px);
                }

            }

        }

    }


}