.ponerle_nombre {

    width: calc(100vw - 21px);
    padding: 0px 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    contain: paint;

    @include bp(tablet){
        width: calc(100vw - 38px);        
        margin-bottom: 20px;
        margin-top: 0px;
    }

    @include bp(laptop){
        padding: 0px 50px;
        margin-bottom: 80px;
        width: calc(100% - 100px);
    }



  .content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    .no-existe {
      padding: 20px;
      border: 2px solid $principal_02;
      border-radius: 15px;
      text-align: center;
      width: 75%;
      color: $principal_02;
      font-family: $font_secundario;
      font-size: rem(15px);

        @include bp(tablet){
            max-width: 700px;
            font-size: rem(25px);
        }

        @include bp(laptop){
            font-size: rem(32px);
            max-width: 850px;
        }

    }

    .content_chat {
      .ponerle-nombre {
        text-align: center;
        background-color: $principal_02;
        border-radius: 15px;
        padding: 20px;
        transform: translate(115%, -10px) scale(0.2);
        position: relative;
        color: $principal_03;
        font-family: $font_secundario;
        font-size: rem(18px);
        transition: 1s ease;

        @include bp(tablet){
            max-width: 600px;
            font-size: rem(21px);
            padding: 25px;
        }

        @include bp(laptop){
            font-size: rem(22px);
        }

        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          right: 20px;
          background-color: $principal_02;
          width: 30px;
          height: 30px;
          transform: rotate(45deg);
          z-index: -1;
        }
      }
    }

    .content_chat.active{
        .ponerle-nombre{
            transform: translate(0%, -10px) scale(1);

            @include bp(laptop){
                font-size: rem(22px);
                transform: translate(10%, -10px) scale(1);
            }
        }
    }

  }
}
