@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';

// Components
@import './variables';
@import './components/header';
@import './pages/home/inicio';
@import './pages/home/mensajes';
@import './pages/home/violencia';
@import './pages/home/comunidad';
@import './pages/home/ponerleNombre';
@import './pages/home/motivaciones';
@import './pages/home/iniciativa';
@import './pages/home/cifras';
@import './pages/home/victimas';
@import './pages/home/_motivaciones_two';
body,
*,
main{
    padding: 0px;
    margin: 0px;
}

main{
    z-index: -1;
}

html{
    background-color: $principal_01;
}

.normalSize{
    width: calc(100vw - 21px);
    padding: 10px;

    @include bp(tablet){
        width: calc(100vw - 38px);        
    }

    @include bp(laptop){
        width: calc(100vw - 200px);
        height: calc(100vh - 200px);
        padding: 100px;
    }
}

.locomotive_scroll{
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.sectionScroll{
    position: relative;
    z-index: -1;
} 

.c-scrollbar{
    display: none;

    &:last-of-type{
        display: block;
    }

}