// Components
@import './variables';
@import './components/header';
@import './pages/home/inicio';
@import './pages/home/mensajes';

body,
*,
main{
    padding: 0px;
    margin: 0px;
}

html{
    background-color: $principal_01;
}

.sectionScroll{
    position: relative;
    z-index: -1;
} 